*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
}

header h1{
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    color:#cbd5e1;
    margin-bottom:30px;
}

button{
    background:#38bdf8;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0ea5e9;
}

.features{
    padding:60px 10%;
}

.features h2{
    text-align:center;
    margin-bottom:40px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    margin:20px 0;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    background:#334155;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
    margin-top:40px;
}
